{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chai aur Django</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1>Ridam Raj</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nam impedit nulla amet ullam tempore, explicabo
        culpa accusamus excepturi libero maiores reprehenderit odit quae eos mollitia. Laborum illum obcaecati quasi,
        distinctio ad, cumque placeat ullam, laudantium sapiente culpa animi quis ex vero quaerat. Recusandae cumque
        animi perspiciatis dolores accusamus repellendus?</p>
</body>

</html>